.App {
  text-align: center;
}

.heading{
  margin-left: 10px;
  margin-top: 5px;
  padding:5px;
  width:200px
}
.but{
  margin-left: 25px;
  padding: 5px;
  width:100px;
}
.add{
  color: aliceblue;
  background-color:green;
  border-radius: 50px;
}
li{
  list-style-type: none;
}
.del,.edit,.hedit{
 color:aliceblue;
 background-color:red;
 border-radius: 25px;
 width:100px;
 padding:5px;
 margin:0px 5px;
}
.edit,.hedit{
  background-color: gray;
}